*{
    margin: 0%;
    padding: 0px;
}

h1{
    color:white;
    border-bottom-color: aliceblue;
    text-align: center;
    padding: 10px;
    font-family: 'Concert One', cursive;
}
h3{
    font-size: 11pt;
    color: white;
    margin-top: 30px;

}
a{
    text-decoration: none;
    color:rgba(255,255, 255, 0.4);
    display: block;
    text-align: center;
    font-family: 'Noto Sans TC', sans-serif;
}
a:hover{
    text-decoration: underline;
}

button#botaoLogin{
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%;
    margin-top: 10px;
}

img{
    width: 210px;
    height: 60px;
    margin: 5px;

}
div#corpo-imagem{
    margin: 0px;
   
}
div#corpo-login{
    width: 420px;
    margin: 140px auto 0px auto;
    background-color: #000000;
    opacity: 0.8;
    padding: 50px;
    border-radius: 10px;
    align-items: center;
}
div#botaoregistrar{
    display: flex;
    margin-top: 20px;
}
div#cdtusuario{
    flex-direction: row;
    margin: 5px;
    padding: 0px;
}
button#btnAbrirModal{
    font-size: 13px;
}