body{
    

}

div#corpo{
    background-color:#F5F5F5;
    display: flex;
    justify-content: center;
    height: 50px;

}

img{
    height: 150px;
    width:150px;
    align-items: center;
}
h5{
    color: #838B8B;
    text-align: center;
    font-family: 'Allerta', sans-serif;
}
h3{
    color: #838B8B;
    margin: 10px;
    font-family: 'Allerta', sans-serif;
}

div#item1{
    width: 50%;
    height: 300px;
    margin-top: 55px;
    align-content: center;
}

div#item2{
    width: 90%;
    height: 450px;
    margin-top: 10px;
    margin-bottom: 25px;


}