body{
    background-color: darkgrey;
    

}

div#corpo{
    background-color:#F5F5F5;
    display: flex;
    justify-content: center;
    height: 50px;

}

img{
    height: 150px;
    width:150px;
    align-items: center;
}
h5{
    color: #838B8B;
    text-align: center;
    font-family: 'Allerta', sans-serif;
}
h3{
    color: #838B8B;
    margin: 10px;
    font-family: 'Allerta', sans-serif;
}
div#item0{
    
    height: 380px;
    margin-top: 15px;
}

div#item1{
    width: 60%;
    height: 380px;
    margin-top: 15px;
   
}
div#caixa1{
    margin-left: 10px;
    margin-top: 58px;
    display: flex;
    justify-content: center;

}
.card-header{
    background-color: aquamarine;

}

div#item2{
    width: 98%;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 20px;


}
div#form{
    width: 100%;
    height: 300px;
}