body{
    background-color: #BDBDBD;
    

}


div#corpo{
    background-color:#F5F5F5;
    display: flex;
    justify-content: center;
    height: 50px;

}
div#foto{
    border-radius: 20px;
}
div#alert{
    margin: 5px;
}
h6#descricao{
    text-align: justify;
    font-size: 12pt;
}
h6#solucao{
    text-align: justify;
    font-size: 12pt;
}
h6#mensagem{
    color: brown;
}
h6#obrigatorio{
    margin-top: 5px;
    margin-left: 5px;
}
h6#nomeUsuario{
    margin-left: 0px;
    color: #CED8F6;
}
h6#Usuario{
    margin-left: 0px;
    color: #CED8F6;
}

img{
    height: 150px;
    width:150px;
    align-items: center;
    border-radius: 10px;
    
}
h5{
    color: #838B8B;
    text-align: center;
    font-family: 'Allerta', sans-serif;
    padding: 5px;
    margin: 5px;
    
}
h6{
    text-align: center;
    color: #6E6E6E;
}
h4{
    color: #838B8B;
    margin: 10px;
    font-family: 'Allerta', sans-serif;
    
}
h4#corpoTexto{
    color: #838B8B;
    font-family: 'Allerta', sans-serif;
}
div#item0{
    
    height: 390px;
    margin-top: 15px;
    align-items: center;
}

div#item1{
    width: 60%;
    height: 390px;
    margin-top: 15px;
   
}
div#caixa1{
    margin-left: 10px;
    margin-top: 58px;
    display: flex;
    justify-content: center;

}
div#detalhes{
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

}

div#titulo{
    width: 60%;
    height: 80px;
    margin-top: 15px;
   
}
.card-header{
    background-color: #CED8F6;

}


div#item2{
    width: 98%;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 20px;


}
div#form{
    width: 100%;
    height: 300px;
}